<!DOCTYPE html>
<html>
  <head>
    <title>Document</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div class="layout layout1">
      <div class="icon"></div>
      <div class="icon"></div>
      <div class="icon"></div>
    </div>
    <div class="layout layout2">
      <div class="area area-in-layout2 area1"></div>
      <div class="area area-in-layout2 area2"></div>
      <div class="area area-in-layout2 area3"></div>
    </div>
    <div class="layout layout3">
      <div class="area area-in-layout3 area4"></div>
      <div class="area area-in-layout3 area5"></div>
    </div>
  </body>
</html>
